/* ========================================= */
/* RESET GENERAL */
/* Limpia estilos por defecto del navegador */
/* ========================================= */

* {

    /* Elimina margenes automaticos*/
    margin: 0;

    /* Elimina espacios internos */
    padding: 0;

    /* Hace que el padding y border no rompan el tamaño */
    box-sizing: border-box;

    /* Fuente global */
    font-family: Arial, sans-serif;
}

/* ========================================= */
/* BODY */
/* Fondo principal de toda la pagina */
/* ========================================= */

body {

    /* Evita barras de scroll */
    overflow:hidden;

    /* Color base */
    background: #081c15;

    /* Color global del texto */
    color: white;

    /* Altura minima completa */
    min-height:100vh;

    /* Fondo degradado circular */
    background: radial-gradient (

        /* Forma del degradado */
        circle at top, 

        /* Color inicio */
        #1b4332,

        /* Color final */
        #091c15 60%
    );

    /* Espaciado interno */
    padding: 30px;
}


/* ========================================= */
/* HEADER */
/* Barra superior */
/* ========================================= */

header {

    /* Ocupa todo el ancho */
    width: 100%;

    /* Limita el ancho maximo */
    max-width: 1200px;

    /* Centra horizontalmente */
    margin: auto;

    /* Espaciado interno */
    padding: 18px 30px;

    /* Activa Flexbox */
    display: flex;

    /* Centra verticalmente */
    align-items: center;

    /* Separa elementos */
    justify-content: space-between;

    /* Bordes redondeados */
    border-radius: 24px;

    /* Fondo transparente */
    background: rgba(255, 255, 255, .05);

    /* Efecto vidrio */
    backdrop-filter:blur(17px);

    /* Borde transparente suave */
    border: 1px solid rgba(255, 255, 255, .08);

    /* Sombra luminosa */
    box-shadow: 0 0 40px rgba(255, 255, 255, .08), 0 0 80px rgba(255, 255, 255, .08);

    /* Permite usar absolute dentro */
    position: relative;
}

/* ========================================= */
/* LOGO */
/* ========================================= */

.logo {
    /* Flexbox horizontal */
    display: flex;

    /* Centra verticalmente */
    align-items: center;

    /* Espacio entre logo y texto */
    gap: 12px;
}

/* ========================================= */
/* CIRCULO DEL LOGO */
/* ========================================= */

.logo-circle {

  /* TamaÃ±o */
  width:42px;
  height:42px;

  /* Lo vuelve cÃ­rculo */
  border-radius:50%;

  /* Degradado */
  background:
  linear-gradient(

    /* DirecciÃ³n */
    135deg,

    /* Colores */
    #80ffdb,
    #64dfdf,
    #7400b8,
    #ffd60a
  );

  /* Brillos */
  box-shadow:
  0 0 20px #64dfdf88,
  0 0 35px #7400b855;

  /* Animacion giratoria */
  animation:spin 7s linear infinite;
}


/* ========================================= */
/* LINK DEL CENTRO */
/* ========================================= */

.center {

    /* Posicion absoluta */
    position:absolute;

    /* Lo mueve al centro */
    left:50%;

    /* Corrige el centro exacto */
    transform:translateX(-50%);
}

/* Link */

.center a {

    /*Quita subrayado */
    text-decoration:none;

    /* Color texto */
    color: #d8f3dc;

    /* Tamaño */
    font-size:1rem;

    /* Suaviza cambios */
    transition:.3s;

    /* Necesario para pseudo-elementos */
    position: relative;
}

/* ========================================= */
/* LÍNEA ANIMADA */
/* ========================================= */

.center a::after {

    /* Obligatorio para mostrar */
    content:"";

    /* Posicion absoluta */
    position:absolute;

    left:0;

    /* Distancia inferior */
    bottom:-7px;

    /* Empieza invisible */
    width:0%;

    /* Grosor */
    height: 3px;

    /* Degradado */
    background: 
    linear-gradient(
        90deg,
        #80ffdb,
        #ffd60a,
        #7400b8
    );

    /* Suaviza animacion */
    transition: .4s;
}

/* Hover del link */

.center a:hover {

    color:white;
}

/* Expande linea */

.center a:hover::after {

    width:100%;
}

/* ========================================= */
/* BOTÓN NOTAS */
/* ========================================= */

.notes-btn {

    /* Espaciado interno */
    padding: 12px 24px;

    /* Elimina borde */
    border:none;

    /* Bordes redondeados */
    border-radius: 50px;

    /* Texto blanco */
    color: white;

    /* Cursor mano */
    cursor:pointer;

    /* Fondo degradado */
    background:
    linear-gradient(
        135deg,
        #80ffdb,
        #5390d9,
        #7400b8,
        #ffd60a
    );

    /* Hace el gradiente mas grande */
    background-size: 300%;

    /* Sombras */
    box-shadow:
    0 0 25px rgba(128, 255, 219, .4),
    0 0 60px rgba(255, 214, 10, .3);

    /* Suaviza hover */
    transition: 4s;

    /* Movimiento del gradiente */
    animation: gradient 8s ease infinite;
}

/* Hover boton */

.notes-btn:hover {

    /* Eleva boton */
    transform: translateY(-3px) scale(1.05);
}


/* ========================================= */
/* HERO */
/* Pantalla principal */
/* ========================================= */

.hero {

    /* Permite absolute dentro */
    position:relative;

    /* Altura completa */
    height:100vh;

    /*Flexbox */
    display: flex;

    /* Centra horizontal */
    justify-content:center;

    /* Centra verticalmente */
    align-items:center;

    /* Centra texto */ 
    text-align:center;

    /* Oculta desbordes */
    overflow:hidden;

    /* Fondo degradado */
    background: 
    linear-gradient(
        to bottom, 
        #081c15 0%,
        #1b4332 40%,
        #2d6a4f 100%
    );
}

/* ========================================= */
/* CONTENIDO */
/* ========================================= */

.content {
    
    position:relative;

    /* Prioridad visual */
    z-index: 10;

    padding: 20px;
}

/* ========================================= */
/* TITULO */
/* ========================================= */

h1 {

    /* Responsive automatico */
    font-size:clamp(3rem, 8vw,7rem);

    /* Espaciado letras */
    letter-spacing: 4px;

    margin-bottom: 15px;

    /* Animacion */
    animation:fade 1.5s ease;
}

/* ========================================= */
/* PARRAFO */
/* ========================================= */

p {

    /* Ancho maximo */
    max-width: 600px;

    /* Tamaño texto */
    font-size: 1.1rem;

    /* Transparencia */
    opacity: .85;

    /* Altura lineas */
    line-height: 1.7;

    margin-bottom: 30px;

    animation: fade 2s ease;
}

