/* ========================================= */
/* RESET GENERAL */
/* Limpia estilos por defecto del navegador */
/* ========================================= */

* {

    /* Elimina margenes automaticos*/
    margin: 0;

    /* Elimina espacios internos */
    padding: 0;

    /* Hace que el padding y border no rompan el tamaño */
    box-sizing: border-box;

    /* Fuente global */
    font-family: Arial, sans-serif;
}

/* ========================================= */
/* BODY */
/* Fondo principal de toda la pagina */
/* ========================================= */

body {

    /* Evita barras de scroll */
    overflow:hidden;

    /* Color base */
    background: #081c15;

    /* Color global del texto */
    color: white;

    /* Altura minima completa */
    min-height:100vh;

    /* Fondo degradado circular */
    background: radial-gradient (

        /* Forma del degradado */
        circle at top, 

        /* Color inicio */
        #1b4332,

        /* Color final */
        #091c15 60%
    );

    /* Espaciado interno */
    padding: 30px;
}