/* ===================================================== */
/* ====================== RESET ========================= */
/* ===================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================================================== */
/* ====================== BODY ========================== */
/* ===================================================== */

body {
    display: flex;

    min-height: 100vh;

    font-family: sans-serif;

    background: #050816;
    color: white;
}

/* ===================================================== */
/* ====================== SIDEBAR ========================== */
/* ===================================================== */

.sidebard {
    width: 240px;

    background: rgba(15, 23, 42, 0.95);

    padding: 30px 20px;
}

/* LOGO */

.logo {
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 40px;

    background: linear-gradient(135deg,#c084fc,#60a5fa,#facc15);

    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

/* Menu */

.menu {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.menu-item {
    padding: 14px;

    border-radius: 12px;

    color: #cbd5e1;

    transition: 0.3s;
}

/* HOVER */

.menu-item:hover {
    background: rgba(255, 255, 255, 0.05);

    color: white;

    transform: translateX(5px);
}

/* ACTIVE */

.active {
    background: linear-gradient(135deg, rgba(124,58,237,0,0.25), rgba(37,99,235,0.2));

    color: white;

    border: 1px solid rgba(255, 255, 255, 0,05);
}

/* ===================================================== */
/* ====================== MAIN ========================== */
/* ===================================================== */

.main {
    
    flex: 1;

    padding: 30px;
}

/* ===================================================== */
/* ====================== TOPBAR ========================== */
/* ===================================================== */

.topbar {
    
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

.topbar h1 {
    font-size: 32px;
}

/* 

/*BUTTON */

.btn {
    padding: 12px 20px;

    border:none;
    border-radius: 12px;

    background: linear-gradient(135deg,#7c3aed,#2563eb);

    color: white;

    cursor: pointer;

    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-2px);

    box-shadow: 0 0 20px rgba(124, 58, 237, 0.4);
}

/* ===================================================== */
/* ====================== CONTENT ========================== */
/* ===================================================== */

.content {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;
}

/* ===================================================== */
/* ====================== CARDS ========================== */
/* ===================================================== */

.card {
    padding: 25px;

    border-radius: 20px;

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(10px);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);

    box-shadow: 0 0 25px rgba(124, 58, 237, 0.2);
}

.card h2 {
    margin-bottom: 12px;

    font-size: 22px;

    background: linear-gradient(135deg,#c094fc,#facc15);

    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.card p {
    color: #cbd5e1;

    line-height: 1.7;
}