@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
/* Importa la fuente Inter desde Google Fonts para que se vea más bonita */

* {
    margin: 0;   /* Quita los márgenes por defecto del navegador */
    padding: 0;  /* Quita el relleno interno por defecto */
    box-sizing: border-box;   /* Hace que el padding y border se incluyan en el ancho total */
}

/*BODY */

body {
    height: 100vh;   /* Ocupa el 100% del alto de la pantalla */
    background: #050816;   /* Color de fondo oscuro (azul muy oscuro) */
    color: white;   /* Color del texto blanco por defecto */
    font-family: 'Inter', sans-serif;   /* Usa la fuente Inter que importamos */
    overflow: hidden;   /* Oculta las barras de scroll */
    position: relative;   /* Permite posicionar elementos hijos con absolute */
}


/* Fondo */

.fondo {
    position: absolute;   /* Se posiciona respecto al body */
    inset: 0;   /* Cubre todo el espacio (top, right, bottom, left) */
    background: linear-gradient(to bottom, #050816, #02030a);   /* Degradado de arriba hacia abajo */
    z-index: 1;   /* Está por debajo de las estrellas */
}

/* Estrellas */

canvas {
    position: absolute;   /* Posicionamiento preciso */
    top: 0;   /* Arriba del todo */
    left: 0;   /* Izquierda del todo */
    width: 100%;   /* Ancho completo */
    height: 100%;   /* Alto completo */
    z-index: 2;   /* Encima del fondo pero debajo del contenido */
}

/* Header */

.header {
    position: absolute;   /* Posiciona el encabezado */
    top: 40px;   /* Distancia desde arriba */
    width: 100%;   /* Ancho completo */
    text-align: center;   /* Centra el texto */
    z-index: 3;   /* Encima de todo */
}


.header h1 {

    font-size: 32px;   /* Tamaño grande del titulo */
    letter-spacing: 7px;   /* Espacio entre letras */
    margin-bottom: 7px;   /* Espacio debajo del titulo */
}

.header p {
    font-size: 15px;   /* Tamaño del subtitulo */
    opacity: 0.7;   /* Un poco transparente */
}


