/* Estilos del contenedor principal del header 
Uso display: flex por que quiero los elementos en una sola fila.
Justify-content: space-between separa logo a la izquierda y links a la derecha 
align-items: center alinea verticalmente. */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #1F2937;
    color:#f9faf8;
}


/*
El logo debe ser mas grande y destacarse.
font-weight hace que se vea "pesado" */
.header-logo {
    font-size: 24px;
    font-weight: 700;
}

/*
Los enlaces van dentro del nav, necesito espacio entre cada uno: 
uso margin-left para separarlos horizontalmente. */
.header-links a {
    color: rgb(173, 170, 170); /* gris claro */
    text-decoration: none; /*quitar subrayado*/
    margin-left: 20px;/* espacio entre cada link */
    font-size: 15px;
}

/* 
Cuando paso el mouse encima del link lo subrayo para indicar interaccion. */
.header-links a:hover {
    text-decoration: underline;
}

/* HERO GENERAL */
.hero {
    display: flex; /* Dos columnas lado a lado */
    align-items: center; /* Centra verticalmente el texto con la imagen */
    justify-content: space-between; /*Espacio entre ambas columnas */
    padding: 70px 100px; /* Espacio interno para que respire */
    gap: 40px; /* Separacion entre texto e imagen */
}

/* TEXTO DEL HERO */
.hero-text {
    max-width: 500px; /* Limitar el ancho del texto para que se vea elegante */

}

.hero-text h1 {
    font-size: 48px; /* Gran titulo principal */
    font-weight: 700; /* Negrita */;
    margin-bottom: 30px; /* Separacion del parrafo */
}

.hero-text p {
    font-size:18px;
    margin-bottom: 30px;
}

.hero-text ul {
    font-size: 20px;
    margin-bottom: 30px;
}

/*BOTON DEL HERO */
.cta-btn {
    padding: 12px 24px; /*Tamaño del boton */
    background: #3882f6; /*Color principal */
    color: white;
    border: none;
    border-radius: 8px; /* Boton redondeado */
    cursor: pointer; 
}

/*IMAGEN*/
.hero-image img {
    width: 300px; /*Tamaño de la imagen */
    border-radius: 7px; /* Redondeado suave */
}