.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #1F2937;
    color: white;
}

.header-logo {
    font-size: 37px;
    font-weight: 900;
}

.header-links a {
    color: #e5e7eb;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.header-links a:hover {
    text-decoration: underline;
}
